<TABLE>
<TR  bgcolor="#C0C0C0">
<TH>Hierarchy</TH>
<TH>Input</TH>
<TH>Constant Input</TH>
<TH>Unused Input</TH>
<TH>Floating Input</TH>
<TH>Output</TH>
<TH>Constant Output</TH>
<TH>Unused Output</TH>
<TH>Floating Output</TH>
<TH>Bidir</TH>
<TH>Constant Bidir</TH>
<TH>Unused Bidir</TH>
<TH>Input only Bidir</TH>
<TH>Output only Bidir</TH>
</TR>
<TR >
<TD >NiosII|irq_mapper</TD>
<TD >3</TD>
<TD >31</TD>
<TD >2</TD>
<TD >31</TD>
<TD >32</TD>
<TD >31</TD>
<TD >31</TD>
<TD >31</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_001|uncompressor</TD>
<TD >36</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >27</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter_001</TD>
<TD >86</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >99</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|width_adapter</TD>
<TD >104</TD>
<TD >3</TD>
<TD >0</TD>
<TD >3</TD>
<TD >81</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux_001|arb|adder</TD>
<TD >16</TD>
<TD >8</TD>
<TD >0</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux_001|arb</TD>
<TD >8</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux_001</TD>
<TD >395</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >102</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux|arb|adder</TD>
<TD >8</TD>
<TD >4</TD>
<TD >0</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_mux</TD>
<TD >199</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_003</TD>
<TD >101</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >99</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_002</TD>
<TD >101</TD>
<TD >1</TD>
<TD >2</TD>
<TD >1</TD>
<TD >99</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux_001</TD>
<TD >102</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >197</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rsp_xbar_demux</TD>
<TD >102</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >197</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_001|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_001|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux_001</TD>
<TD >199</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux|arb|adder</TD>
<TD >8</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux|arb</TD>
<TD >6</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_mux</TD>
<TD >199</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >100</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_demux_001</TD>
<TD >104</TD>
<TD >16</TD>
<TD >2</TD>
<TD >16</TD>
<TD >393</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|cmd_xbar_demux</TD>
<TD >102</TD>
<TD >4</TD>
<TD >2</TD>
<TD >4</TD>
<TD >197</TD>
<TD >4</TD>
<TD >4</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller_001|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller_001</TD>
<TD >17</TD>
<TD >15</TD>
<TD >0</TD>
<TD >15</TD>
<TD >1</TD>
<TD >15</TD>
<TD >15</TD>
<TD >15</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller|alt_rst_sync_uq1</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|rst_controller</TD>
<TD >17</TD>
<TD >14</TD>
<TD >0</TD>
<TD >14</TD>
<TD >1</TD>
<TD >14</TD>
<TD >14</TD>
<TD >14</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|burst_adapter|altera_merlin_burst_adapter_uncompressed_only.the_ba</TD>
<TD >83</TD>
<TD >3</TD>
<TD >5</TD>
<TD >3</TD>
<TD >81</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|burst_adapter</TD>
<TD >83</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >81</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_003|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_003</TD>
<TD >79</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >81</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_002|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_002</TD>
<TD >97</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_001|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router_001</TD>
<TD >97</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|id_router</TD>
<TD >97</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router_001|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router_001</TD>
<TD >97</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router|the_default_decode</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|addr_router</TD>
<TD >97</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >99</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_controller_0_avalon_slave_0_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >119</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >78</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_controller_0_avalon_slave_0_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >36</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >34</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_controller_0_avalon_slave_0_translator_avalon_universal_slave_0_agent</TD>
<TD >202</TD>
<TD >22</TD>
<TD >25</TD>
<TD >22</TD>
<TD >219</TD>
<TD >22</TD>
<TD >22</TD>
<TD >22</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0_avalon_jtag_slave_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >137</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >96</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0_avalon_jtag_slave_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >36</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >34</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0_avalon_jtag_slave_translator_avalon_universal_slave_0_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >290</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0_s1_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >137</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >96</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0_s1_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >36</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >34</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0_s1_translator_avalon_universal_slave_0_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >290</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_jtag_debug_module_translator_avalon_universal_slave_0_agent_rsp_fifo</TD>
<TD >137</TD>
<TD >39</TD>
<TD >0</TD>
<TD >39</TD>
<TD >96</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_jtag_debug_module_translator_avalon_universal_slave_0_agent|uncompressor</TD>
<TD >36</TD>
<TD >1</TD>
<TD >0</TD>
<TD >1</TD>
<TD >34</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_jtag_debug_module_translator_avalon_universal_slave_0_agent</TD>
<TD >270</TD>
<TD >39</TD>
<TD >41</TD>
<TD >39</TD>
<TD >290</TD>
<TD >39</TD>
<TD >39</TD>
<TD >39</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_data_master_translator_avalon_universal_master_0_agent</TD>
<TD >165</TD>
<TD >33</TD>
<TD >66</TD>
<TD >33</TD>
<TD >129</TD>
<TD >33</TD>
<TD >33</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_instruction_master_translator_avalon_universal_master_0_agent</TD>
<TD >165</TD>
<TD >33</TD>
<TD >66</TD>
<TD >33</TD>
<TD >129</TD>
<TD >33</TD>
<TD >33</TD>
<TD >33</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_controller_0_avalon_slave_0_translator</TD>
<TD >69</TD>
<TD >7</TD>
<TD >2</TD>
<TD >7</TD>
<TD >57</TD>
<TD >7</TD>
<TD >7</TD>
<TD >7</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0_avalon_jtag_slave_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >22</TD>
<TD >6</TD>
<TD >70</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0_s1_translator</TD>
<TD >104</TD>
<TD >8</TD>
<TD >7</TD>
<TD >8</TD>
<TD >86</TD>
<TD >8</TD>
<TD >8</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_jtag_debug_module_translator</TD>
<TD >104</TD>
<TD >6</TD>
<TD >11</TD>
<TD >6</TD>
<TD >82</TD>
<TD >6</TD>
<TD >6</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_data_master_translator</TD>
<TD >105</TD>
<TD >13</TD>
<TD >0</TD>
<TD >13</TD>
<TD >96</TD>
<TD >13</TD>
<TD >13</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0_instruction_master_translator</TD>
<TD >101</TD>
<TD >56</TD>
<TD >0</TD>
<TD >56</TD>
<TD >96</TD>
<TD >56</TD>
<TD >56</TD>
<TD >56</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|sram_controller_0</TD>
<TD >41</TD>
<TD >16</TD>
<TD >2</TD>
<TD >16</TD>
<TD >39</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram|altsyncram2</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r|rfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_r</TD>
<TD >13</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|wr_ptr</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|rd_ptr_count</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram|altsyncram2</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|FIFOram</TD>
<TD >24</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state|count_usedw</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo|fifo_state</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >8</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated|dpfifo</TD>
<TD >13</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w|wfifo|auto_generated</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0|the_sopc_system_jtag_uart_0_scfifo_w</TD>
<TD >12</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|jtag_uart_0</TD>
<TD >38</TD>
<TD >10</TD>
<TD >23</TD>
<TD >10</TD>
<TD >34</TD>
<TD >10</TD>
<TD >10</TD>
<TD >10</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0|the_altsyncram|auto_generated|mux2</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0|the_altsyncram|auto_generated|deep_decode</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0|the_altsyncram|auto_generated|decode3</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0|the_altsyncram|auto_generated</TD>
<TD >52</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|onchip_memory2_0</TD>
<TD >54</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_jtag_debug_module_wrapper|the_sopc_system_nios2_qsys_0_jtag_debug_module_sysclk</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >51</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_jtag_debug_module_wrapper|the_sopc_system_nios2_qsys_0_jtag_debug_module_tck</TD>
<TD >130</TD>
<TD >0</TD>
<TD >1</TD>
<TD >0</TD>
<TD >43</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_jtag_debug_module_wrapper</TD>
<TD >123</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >53</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_im</TD>
<TD >97</TD>
<TD >36</TD>
<TD >93</TD>
<TD >36</TD>
<TD >48</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_pib</TD>
<TD >39</TD>
<TD >20</TD>
<TD >38</TD>
<TD >20</TD>
<TD >19</TD>
<TD >20</TD>
<TD >20</TD>
<TD >20</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_fifo|the_sopc_system_nios2_qsys_0_oci_test_bench</TD>
<TD >36</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_fifo|sopc_system_nios2_qsys_0_nios2_oci_fifocount_inc_fifocount</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_fifo|sopc_system_nios2_qsys_0_nios2_oci_fifowp_inc_fifowp</TD>
<TD >4</TD>
<TD >2</TD>
<TD >0</TD>
<TD >2</TD>
<TD >4</TD>
<TD >2</TD>
<TD >2</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_fifo|sopc_system_nios2_qsys_0_nios2_oci_compute_tm_count_tm_count</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_fifo</TD>
<TD >151</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_dtrace|sopc_system_nios2_qsys_0_nios2_oci_trc_ctrl_td_mode</TD>
<TD >9</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >4</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_dtrace</TD>
<TD >105</TD>
<TD >0</TD>
<TD >94</TD>
<TD >0</TD>
<TD >72</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_itrace</TD>
<TD >25</TD>
<TD >17</TD>
<TD >23</TD>
<TD >17</TD>
<TD >87</TD>
<TD >17</TD>
<TD >17</TD>
<TD >17</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_dbrk</TD>
<TD >90</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >94</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_xbrk</TD>
<TD >52</TD>
<TD >5</TD>
<TD >49</TD>
<TD >5</TD>
<TD >6</TD>
<TD >5</TD>
<TD >5</TD>
<TD >5</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_break</TD>
<TD >52</TD>
<TD >36</TD>
<TD >6</TD>
<TD >36</TD>
<TD >71</TD>
<TD >36</TD>
<TD >36</TD>
<TD >36</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_avalon_reg</TD>
<TD >48</TD>
<TD >0</TD>
<TD >28</TD>
<TD >0</TD>
<TD >68</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_ocimem|sopc_system_nios2_qsys_0_ociram_sp_ram|the_altsyncram|auto_generated</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_ocimem|sopc_system_nios2_qsys_0_ociram_sp_ram</TD>
<TD >46</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_ocimem</TD>
<TD >91</TD>
<TD >0</TD>
<TD >6</TD>
<TD >0</TD>
<TD >65</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci|the_sopc_system_nios2_qsys_0_nios2_oci_debug</TD>
<TD >50</TD>
<TD >1</TD>
<TD >30</TD>
<TD >1</TD>
<TD >7</TD>
<TD >1</TD>
<TD >1</TD>
<TD >1</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_nios2_oci</TD>
<TD >157</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >69</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|sopc_system_nios2_qsys_0_register_bank_b|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|sopc_system_nios2_qsys_0_register_bank_b</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|sopc_system_nios2_qsys_0_register_bank_a|the_altsyncram|auto_generated</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|sopc_system_nios2_qsys_0_register_bank_a</TD>
<TD >44</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >32</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0|the_sopc_system_nios2_qsys_0_test_bench</TD>
<TD >270</TD>
<TD >3</TD>
<TD >233</TD>
<TD >3</TD>
<TD >34</TD>
<TD >3</TD>
<TD >3</TD>
<TD >3</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII|nios2_qsys_0</TD>
<TD >148</TD>
<TD >0</TD>
<TD >31</TD>
<TD >0</TD>
<TD >110</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
<TR >
<TD >NiosII</TD>
<TD >2</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >23</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >16</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
<TD >0</TD>
</TR>
</TABLE>
